
@{
    ViewBag.Title = "ErrorView";
}
<div dir="@SurveyWebSite.Resources.Constants.dir">
    <h1>@SurveyWebSite.Resources.Messages.SomeThingWrong</h1>
    <h1 style="color:red">@ViewBag.ErrorMessage</h1>

</div>